*{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header,
footer {
  text-align: center;
}

a {
    text-decoration: none;
    color: #009632;
    border-bottom: 10px solid;
    border-bottom-color: #009632(15, 122, 252, 0.2);
  }
  a:hover {
    text-decoration: none;
    color: #00ce45;
    border-bottom-color: #00ce45(208, 64, 0, 0.2);
  }
  