*{
    font-family: "Bookmania,bold",
    background-color= #fff;
    color: black;
    font-size: 128px;
}
.name{
    font-family: "Neue Haas Unica,light",
    background-color= #fff;
    color: black;
    font-size: 32px;
}
.about{
    font-family: "Neue Haas Unica,Regular",
    background-color= #fff;
    color: black;
    font-size: 20px;
}
.slogan{
    font-family: "Neue Haas Unica,Bold",
    background-color= #fff;
    color: black;
    font-size: 16px;    
}
header{
    font-family: "Neue Haas Unica,Regular",
    background-color= #fff;
    color: black;
    font-size: 16px;   
}