@font-face {
  font-family: 'Stapel';
  src: local('Stapel-Bold'), local('Stapel-Bold'),
      url('font/Stapel-Bold/Stapel-Bold.woff2') format('woff2'),
      url('font/Stapel-Bold/Stapel-Bold.woff') format('woff'),
      url('font/Stapel-Bold/Stapel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
      url('font\Lato-Bold\Lato-Bold.woff2') format('woff2'),
      url('font\Lato-Bold\Lato-Bold.woff') format('woff'),
      url('font\Lato-Bold\Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  color: #252022;
}

body{
  position: relative;
  width: 1400px;
  height: 800px;
}

.img1{
  position: absolute;
  width: 400px;
  height: 120px;
  left: 105px;
  top: 285px;
}

.img2{
  position: absolute;
  width: 100px;
  height: 2px;
  left: 920px;
  top: 585px;
}

.slogan {
  position: absolute;
  width: 560px;
  height: 384px;
  left: 120px;
  top: 20px;
  
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  
  display: flex;
  align-items: flex-start;

  color: #252022;
}

.content {
  position: absolute;
  width: 560px;
  height: 160px;
  left: 720px;
  top: 350px;
  
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;

  display: flex;
  align-items: flex-end;

  color: #252022;
}

.content2 {
  position: absolute;
  width: 560px;
  height: 52px;
  left: 720px;
  top: 525px;
  
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  align-items: flex-end;
  
  color: #252022;
}

.slogan2 {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 720px;
  top: 600px;
  
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;

  display: flex;
  align-items: flex-end;
  
  color: #252022;
}

.logo {
  position: absolute;
  top: 5px;
  left: 100px;
}

header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  
  display: flex;
  flex-direction: row;

  color: #252022;
}

.Aviaseils{
  position: absolute;
  height: 18px;
  left: 1162px;
  top: 5px;

  font-family: "Stapel", "Bold", sans-serif;
  color: #0c73fe;
}

.CIAN{
  position: absolute;
  height: 18px;
  left: 926px;
  top: 5px;

  font-family: "Lato", "Bold", sans-serif;
  color: #152242;
}

.Alfa{
  position: absolute;
  height: 18px;
  left: 1032px;
  top: 5px;

  font-family: "Segoi-UI", "Semi-Bold", sans-serif;
  color: #EF3124;
}

a{
  text-decoration: none;
}
