* {
  font-family: Bookmania,bold;
  background-color: #fff;
  color: black;
  font-size: 128px;

}
.Name {
  font-family: Neue Haas Unica;
  color: black;
  font-size: 32px;
  align-content: left;
  background-color:aqua;
  margin: 50px;
}
.about {
  font-family: Neue Haas Unica,Regular;
  color: black;
  font-size: 20px;
  width: auto;
  background-color:beige;
  margin: 50px;
}
h4 {
  font-family: Neue Haas Unica,Bold;
  color: black;
  font-size: 16px;
}
header {
  font-family: Neue Haas Unica,Regular;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
